:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;

	color-scheme: light dark;
	color: #fff;
	background-color: #222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
